<div *ngIf="visible" class="dialog bg-secondary">
    <div class="modal-dialog dialog-modal" role="document">
        <div class="modal-content">
            <button class="btn btn-sm btn-danger dialog__close-btn" (click)="close()">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>
            <div class="modal-body">
                <app-group [operation]="operation" (finishedOutput)="getResponseFromGroup($event)"></app-group>
            </div>
        </div>
    </div>
</div>
