<div class="row" *ngIf="isLoaded">
    <div class="div-row">
        <div class="schematic">
            <div class="card-header div-row">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="onGroupClick(2)">Schematy</div>
            </div>
            <div *ngIf="isGroupClicked(2)">
                <div style="padding-bottom: 15px;">
                    <div class="div-row inner" *ngFor="let d of getSchematics()">
                        <div class="schematic2 div-row inner" *ngIf="!d.IsMarkForDeletion">
                            <div class="card-header div-row" (click)="onSchematicClick(d)">
                                <p class="card-text inline-p">{{d.Context.Description}}</p>
                            </div>
                            <div class="div-row schematicDetails" *ngIf="isSchematicClicked(d)">
                                <div class="div-row dinner">
                                    <button class="btn btn-danger" style="float: right;" (click)="delete(d)">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="div-row">
                                    <button class="btn btn-success" style="float: right;" (click)="edit(d)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="div-row" style="padding-top: 5vh;">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Regex tytułu:</div>
                                    <p class="card-text inline-p">{{d.Context.TitleRegex}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Regex opisu:</div>
                                    <p class="card-text inline-p">{{d.Context.DescriptionRegex}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Częstotliwość:</div>
                                    <p class="card-text inline-p" *ngIf="d.Context.Frequency!=null">{{d.Context.Frequency.Text}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Ważność:</div>
                                    <p class="card-text inline-p" *ngIf="d.Context.Importance!=null">{{d.Context.Importance.Text}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Tagi:</div>
                                    <p class="card-text inline-p" *ngFor="let t of d.Context.Tags; let isLast=last">{{t.Text}}{{isLast?'' : ', '}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ignored">
            <div class="card-header div-row">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="onGroupClick(1)">Ignorowane</div>
            </div>
            <div *ngIf="isGroupClicked(1)">
                <div style="padding-bottom: 15px;">
                    <div class="div-row inner" *ngFor="let d of getIgnored()">
                        <div class="ignored2 div-row inner" *ngIf="!d.IsMarkForDeletion">
                            <div class="card-header div-row" (click)="onSchematicClick(d)">
                                <p class="card-text inline-p">{{d.Context.DescriptionRegex}}</p>
                            </div>
                            <div class="div-row ignoredDetails" *ngIf="isSchematicClicked(d)">
                                <div class="div-row dinner">
                                    <button class="btn btn-danger" style="float: right;" (click)="delete(d)">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="div-row">
                                    <button class="btn btn-success" style="float: right;" (click)="edit(d)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <br />
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Regex tytułu:</div>
                                    <p class="card-text inline-p">{{d.Context.TitleRegex}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Regex opisu:</div>
                                    <p class="card-text inline-p">{{d.Context.DescriptionRegex}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Częstotliwość:</div>
                                    <p class="card-text inline-p" *ngIf="d.Context.Frequency!=null">{{d.Context.Frequency.Text}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Ważność:</div>
                                    <p class="card-text inline-p" *ngIf="d.Context.Importance!=null">{{d.Context.Importance.Text}}</p>
                                </div>
                                <div class="div-row">
                                    <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Tagi:</div>
                                    <p class="card-text inline-p" *ngFor="let t of d.Context.Tags; let isLast=last">{{t.Text}}{{isLast?'' : ', '}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-sm btn-success" (click)="addIgnored()">
        <i class="fa fa-plus-circle"></i>
    </button>
</div>

<div>
    <app-schematic-dialog [visible]="editSchematic" [schematic]="editedSchematic" (finishedOutput)="getResponse($event)"></app-schematic-dialog>
</div>