@section Scripts {
    <script src="~/clientapp/dist/runtime-es5.js"></script>
    <script src="~/clientapp/dist/polyfills-es5.js"></script>
    <script src="~/clientapp/dist/styles-es5.js"></script>
    <script src="~/clientapp/dist/vendor-es5.js"></script>
    <script src="~/clientapp/dist/main-es5.js"></script>
}
<main-page></main-page>
<h2>@ViewBag.Title</h2>