<div *ngIf="visible" class="dialog bg-secondary">
    <div class="modal-dialog dialog-modal" role="document">
        <div class="modal-content">
            <button class="btn btn-sm btn-danger dialog__close-btn" (click)="close()">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>
            <div class="div-row">
                <div class="div-row" *ngIf="isLoaded">
                    <div style="padding-bottom:10px">
                        <div class="div-row" style="padding-top:5px;" *ngIf="showMessage()">
                            <div [ngClass]="{'bg-success': messageIsSuccess(), 'bg-warning': messageIsWarning(), 'bg-danger': messageIsError(), 'div-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 white': true}">
                                <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{infoMessage.message}}</div>
                            </div>
                        </div>
                        <div class="div-row" style="padding-bottom:10px;">
                            <input [(ngModel)]="name" name="inpName" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-control" type="text" autocomplete="off" placeholder="nazwa" />
                        </div>
                        <div class="div-row" style="padding-bottom:10px;">
                            <button class="btn btn-primary" style="float: right; margin-left: 3px;" (click)="select()">Zatwierdź</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
