<div *ngIf="visible" class="dialog bg-secondary">
    <div class="modal-dialog dialog-modal" role="document">
        <div class="modal-content">
            <button class="btn btn-sm btn-danger dialog__close-btn" (click)="close()">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>
            <div class="div-row" *ngIf="state.isScreenNormal()">
                <div class="div-row" *ngIf="isLoaded">
                    <div style="padding-bottom:10px">
                        <div class="div-row" style="padding-bottom:10px;">
                            <button class="btn btn-primary" style="float: right; margin-left: 3px;" (click)="select()">Zatwierdź</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
