<div *ngIf="state.isScreenNormal()">
    <div [ngClass]="{'income-operation': !isExpense(operation) && isOperation(operation), 'expense-operation': isExpense(operation) && isOperation(operation), 'income-group': !isExpense(operation) && !isOperation(operation), 'expense-group': isExpense(operation) && !isOperation(operation),'div-row': true}">
        <div class="card-header div-row" (click)="onOperationClick(operation, false)">
            <div class="card-text inline-block col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{operation.Date.substring(0,10)}} </div>
            <div class="card-text inline-block col-sm-3 col-md-3 col-lg-3 col-xl-3">kwota: {{operation.Amount.toFixed(2)}}zł</div>
            <div class="card-text inline-block col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">{{operation.Description}} </div>
        </div>
        <div [ngClass]="{'income-operation-detail': !isExpense(operation) && isOperation(operation), 'expense-operation-detail': isExpense(operation) && isOperation(operation), 'income-group-detail': !isExpense(operation) && !isOperation(operation), 'expense-group-detail': isExpense(operation) && !isOperation(operation),'div-row': true}" *ngIf="isClicked(operation)">
            <div class="div-row">
                <button class="btn btn-success" style="float: right;" (click)="edit(operation)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Częstotliwość:</div>
                <p class="card-text inline-p">{{operation.Frequency.Text}}</p>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Ważność:</div>
                <p class="card-text inline-p">{{operation.Importance.Text}}</p>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Tagi:</div>
                <p class="card-text inline-p" *ngFor="let t of operation.Tags; let isLast=last">{{t.Tag.Text}}{{isLast?'' : ', '}} </p>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Typ transakcji:</div>
                <p class="card-text inline-p">{{operation.TransactionType.Text}}</p>
            </div>
            <div class="div-row" *ngIf="isOperation(operation)">
                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Typ transferu:</div>
                <p class="card-text inline-p">{{operation.TransferType.Text}}</p>
            </div>
            <div *ngIf="!isOperation(operation)" style="padding-bottom: 15px;">
                <div class="div-row inner" *ngFor="let q of operation.Operations">
                    <div [ngClass]="{'income-operation': !isExpense(q) && isOperation(q), 'expense-operation': isExpense(q) && isOperation(q),'div-row': true}">
                        <div class="card-header div-row" (click)="onOperationClick(q, true)">
                            <div class="card-text inline-block col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{q.Date.substring(0,10)}} </div>
                            <div class="card-text inline-block col-sm-3 col-md-3 col-lg-3 col-xl-3">kwota: {{q.Amount.toFixed(2)}}zł</div>
                            <div class="card-text inline-block col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">{{q.Description}} </div>
                        </div>
                        <div [ngClass]="{'income-operation-detail': !isExpense(q) && isOperation(q), 'expense-operation-detail': isExpense(q) && isOperation(q), 'div-row': true}" *ngIf="isClicked(q)">
                            <div class="div-row">
                                <button class="btn btn-success" style="float: right;" (click)="edit(q)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="div-row">
                                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Typ transakcji:</div>
                                <p class="card-text inline-p">{{q.TransactionType.Text}}</p>
                            </div>
                            <div class="div-row">
                                <div class="card-text inline-block col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">Typ transferu:</div>
                                <p class="card-text inline-p">{{q.TransferType.Text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="state.isScreenMobile()">
    <div [ngClass]="{'income-operation': !isExpense(operation) && isOperation(operation), 'expense-operation': isExpense(operation) && isOperation(operation), 'income-group': !isExpense(operation) && !isOperation(operation), 'expense-group': isExpense(operation) && !isOperation(operation),'div-row': true}">
        <div class="card-header div-row" (click)="onOperationClick(operation, false)">
            <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">{{operation.Date.substring(0,10)}} </div>
            <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">kwota: {{operation.Amount.toFixed(2)}}zł</div>
            <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{operation.Description}} </div>
        </div>
        <div [ngClass]="{'income-operation-detail': !isExpense(operation) && isOperation(operation), 'expense-operation-detail': isExpense(operation) && isOperation(operation), 'income-group-detail': !isExpense(operation) && !isOperation(operation), 'expense-group-detail': isExpense(operation) && !isOperation(operation),'div-row': true}" *ngIf="isClicked(operation)">
            <div class="div-row">
                <button class="btn btn-success" style="float: right;" (click)="edit(operation)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Częstotliwość:</div>
                <p class="card-text inline-p">{{operation.Frequency.Text}}</p>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Ważność:</div>
                <p class="card-text inline-p">{{operation.Importance.Text}}</p>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Tagi:</div>
                <p class="card-text inline-p" *ngFor="let t of operation.Tags; let isLast=last">{{t.Tag.Text}}{{isLast?'' : ', '}} </p>
            </div>
            <div class="div-row">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Typ transakcji:</div>
                <p class="card-text inline-p">{{operation.TransactionType.Text}}</p>
            </div>
            <div class="div-row" *ngIf="isOperation(operation)">
                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Typ transferu:</div>
                <p class="card-text inline-p">{{operation.TransferType.Text}}</p>
            </div>
            <div *ngIf="!isOperation(operation)" style="padding-bottom: 15px;">
                <div class="div-row inner" *ngFor="let q of operation.Operations">
                    <div [ngClass]="{'income-operation': !isExpense(q) && isOperation(q), 'expense-operation': isExpense(q) && isOperation(q),'div-row': true}">
                        <div class="card-header div-row" (click)="onOperationClick(q, true)">
                            <div class="card-text inline-block col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">{{q.Date.substring(0,10)}}</div>
                            <div class="card-text inline-block col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">kwota: {{q.Amount.toFixed(2)}}zł</div>
                            <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{q.Description}} </div>
                        </div>
                        <div [ngClass]="{'income-operation-detail': !isExpense(q) && isOperation(q), 'expense-operation-detail': isExpense(q) && isOperation(q), 'div-row': true}" *ngIf="isClicked(q)">
                            <div class="div-row">
                                <button class="btn btn-success" style="float: right;" (click)="edit(q)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="div-row">
                                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Typ transakcji:</div>
                                <p class="card-text inline-p">{{q.TransactionType.Text}}</p>
                            </div>
                            <div class="div-row">
                                <div class="card-text inline-block col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Typ transferu:</div>
                                <p class="card-text inline-p">{{q.TransferType.Text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="editedOperation!=undefined">
    <div *ngIf="isOperation(editedOperation)">
        <app-operation-edit-dialog [visible]="true" [operation]="editedOperation"></app-operation-edit-dialog>
    </div>
    <div *ngIf="!isOperation(editedOperation)">
        <app-group-edit-dialog [visible]="true" [operation]="editedOperation" (addEvent)="getResponseFromGroup(event)"></app-group-edit-dialog>
    </div>
</div>