<div class="div-row" *ngIf="state.isScreenNormal()">
    <div class="div-row" *ngIf="isLoaded">
        <div class="div-row">
            <div class="div-row" style="padding-bottom:10px;">
                <div class="row">
                    <input [(ngModel)]="dateFrom" onfocus="(this.type='date')" onblur="(this.type='text')" name="inpDateFrom" autocomplete="off" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 js-form-control form-control" placeholder="Data">
                    <input [(ngModel)]="dateTo" onfocus="(this.type='date')" onblur="(this.type='text')" name="inpDateTo" autocomplete="off" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 js-form-control form-control" placeholder="Data">
                    <button class="btn btn-primary col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" (click)="search()">Szukaj</button>
                </div>
            </div>
            <div class="div-row" style="padding-bottom: 20px; padding-top:20px;">
                <div class="div-row btn-group d-flex" role="group" aria-label="...">
                    <div class="w-100" *ngFor="let d of getDashboards()">
                        <button type="button" class="btn btn-secondary btn-custom w-100" (click)="onDashboardClick(d)">{{d.Name}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="output!=null">
                <div class="row">Razem: {{output.Amount.toFixed(2)}}zł</div>
                <temp-dashboard [dashboard]="output" [dateFrom]="dateFrom" [dateTo]="dateTo"></temp-dashboard>
            </div>
        </div>
    </div>
</div>
<div class="div-row" *ngIf="state.isScreenMobile()">
    <div class="div-row" *ngIf="isLoaded">
        <div style="padding-bottom:10px;">
            <div class="row">
                <input [(ngModel)]="dateFrom" onfocus="(this.type='date')" onblur="(this.type='text')" name="inpDateFrom" autocomplete="off" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-form-control form-control" placeholder="Data">
                <input [(ngModel)]="dateTo" onfocus="(this.type='date')" onblur="(this.type='text')" name="inpDateTo" autocomplete="off" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-form-control form-control" placeholder="Data">
                <button class="btn btn-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="search()">Szukaj</button>
            </div>
        </div>
        <div class="div-row" style="padding-bottom: 20px; padding-top:20px;">
            <select [(ngModel)]="selectedDashboard" name="selDashboard" (change)="onDashboardClick(selectedDashboard)" [required]="editable" class="custom-select">
                <option *ngFor="let f of getDashboards()" [ngValue]="f">{{f.Name}}</option>
            </select>
        </div>
        <div *ngIf="output!=null">
            <div class="row">&nbsp; Razem: {{output.Amount.toFixed(2)}}zł</div>
            <temp-dashboard [dashboard]="output" [dateFrom]="dateFrom" [dateTo]="dateTo"></temp-dashboard>
        </div>
    </div>
</div>

