<div class="div-row">
    <div class="div-row" *ngIf="isLoaded">
        <!----------------------NORMAL------------------>
        <div *ngIf="state.isScreenNormal()">
            <div class="row" *ngFor="let o of getDashboards()">
                <div class="bg-main div-row text-white" style="margin-bottom:10px;">
                    <div class="card-header col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(o)">
                        <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{o.Name}} </div>
                    </div>
                    <div *ngIf="isClicked(o) && !isFilter(o)">
                        <div *ngFor="let r of o.Relations">
                            <div class="bg-main2 div-row text-white">
                                <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(r.Filter)">
                                    <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{r.Filter.Name}} </div>
                                </div>
                                <div *ngIf="isClicked(r.Filter) && !isFilter(r.Filter)">
                                    <div *ngFor="let rr of r.Filter.Relations">
                                        <div class="bg-main div-row text-white">
                                            <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(rr.Filter)">
                                                <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{rr.Filter.Name}} </div>
                                            </div>
                                            <div *ngIf="isClicked(rr.Filter) && !isFilter(rr.Filter)">
                                                <div *ngFor="let rrr of rr.Filter.Relations">
                                                    <div class="bg-main2 div-row text-white">
                                                        <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(rrr.Filter)">
                                                            <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{rrr.Filter.Name}} </div>
                                                        </div>
                                                        <div class="bg-main div-row text-white" *ngIf="isClicked(rrr.Filter) && isFilter(rrr.Filter)">
                                                            <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(rrr.Filter)">
                                                                <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{rrr.Filter.Query}} </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-main2 div-row text-white" *ngIf="isClicked(rr.Filter) && isFilter(rr.Filter)">
                                                <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(rr.Filter)">
                                                    <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{rr.Filter.Query}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-main div-row text-white" *ngIf="isClicked(r.Filter) && isFilter(r.Filter)">
                                    <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(r.Filter)">
                                        <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{r.Filter.Query}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-main2 div-row text-white" *ngIf="isClicked(o) && isFilter(o)">
                        <div class="card-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="onDashboardClick(o.Filter)">
                            <div class="card-text inline-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{o.Filter.Query}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

