<div class="div-row">
    <div class="div-row" *ngIf="isLoaded">
        <!----------------------NORMAL------------------>
        <div class="div-row">
            <div cdkDropList class="bg-main div-row text-white" (cdkDropListDropped)="drop($event, getDashboards())">
                <div class="card-header bg-main div-row text-white" *ngFor="let o of allDashboards" (click)="onDashboardClick(o)" cdkDrag>
                    <div style="padding-bottom:12px;">
                        <div class="card-text inline-block">
                            {{o.Name}}
                        </div>
                        <button class="btn btn-sm btn-danger" style="float: right;" (click)="delete(o, null);$event.stopPropagation()">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                        <div style="float: right;">
                            <input class="form-check-input" type="checkbox" value="" [checked]="o.IsVisible" (click)="$event.stopPropagation()">
                        </div>
                    </div>
                    <div class="div-row" *ngIf="isClicked(o) && !isFilter(o)">
                        <div cdkDropList class="bg-main2 div-row text-white" (cdkDropListDropped)="drop($event, o.Relations)">
                            <div class="card-header bg-main2 div-row text-white" *ngFor="let o2 of o.Relations" (click)="onDashboardClick(o2);$event.stopPropagation()" cdkDrag>
                                <div class="card-text inline-block">
                                    {{o2.Filter.Name}}
                                </div>
                                <button class="btn btn-sm btn-danger" style="float: right;" (click)="delete(o, o2.Filter);$event.stopPropagation()">
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-success" (click)="addFilter(o);$event.stopPropagation()">
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-sm btn-success" (click)="addDashboard()">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin:auto;" (click)="save()">Zapisz</button>
        </div>
    </div>
</div>

<div *ngIf="showFilterAddMode">
    <app-filter-selection [visible]="true" (finishedOutput)="getResponseFromAddFilter($event)"></app-filter-selection>
</div>

<div *ngIf="showDashboardAddMode">
    <app-dashboard-new [visible]="true" (finishedOutput)="getResponseFromNewDashboard($event)"></app-dashboard-new>
</div>


